In [1]:
import  pandas as pd
import numpy as np

In [4]:
# m_mock_transaction_20190621.csv
# PC Transaction data for a period of 6 months.
# Revenue is raw data (no fees applied).

transaction = pd.read_csv(r"c:\Users\dishadaquid.jahan\OneDrive - AVEVA Solutions Limited\Desktop\programming_test_20190625_\m_mock_transaction_20190621.csv")
transaction

,account,sku,vendor,country_code,revenue,month,day
0,df2941729e64538aa272bf8d4d26678a,70efdf2ec9b086079795c442636b55fb,vendor26,country177,23.111304,5,13
1,8f475441a9f7ac5d15f861974f8fb2f1,70efdf2ec9b086079795c442636b55fb,vendor26,country204,92.445215,5,13
2,6400e8af8eaa676c8f36c05ee2265ceb,b73ce398c39f506af761d2277d853a92,vendor26,country194,96.544871,5,14
3,5000216823a102631e4ed8e6a892bad5,cfa0860e83a4c3a763a7e62d825349f7,vendor26,country120,124.705000,5,15
4,fcf3c16bb2eb545e319f0c859c64d59b,cfa0860e83a4c3a763a7e62d825349f7,vendor26,country120,124.705000,5,15
...,...,...,...,...,...,...,...
729195,5fcf26d4ff5718ae192dd3faddcca421,6f4922f45568161a8cdf4ad2299f6d23,vendor33,country52,25.775117,6,30
729196,dc4429d1f3d4fa80c88f0acb83e4a213,5e02b868a91671f9140a41f3946f33cb,vendor42,country52,13.591588,6,30
729197,8a2807d9c6c48dc127715bbcacd5bea8,6abcc8f24321d1eb8c95855eab78ee95,vendor42,country71,61.662813,6,30
729198,d0f7fc011e7cc0fc0d2381970f13eed5,cfa0860e83a4c3a763a7e62d825349f7,vendor11,country52,99.764000,6,30
729199,cf3a67beac91c3c1c8b82f408c3b30da,70efdf2ec9b086079795c442636b55fb,vendor11,country52,92.445215,6,30

In [5]:
transaction.isnull().sum()

account         0
sku             0
vendor          0
country_code    0
revenue         0
month           0
day             0
dtype: int64

In [8]:
# m_mock_active_users_20190621.csv
# Daily active users by country for a period of 6 months.
# Values are unitless and relative, can be used for evaluation of trends, comparisons between countries, etc.

active_users = pd.read_csv(r"c:\Users\dishadaquid.jahan\OneDrive - AVEVA Solutions Limited\Desktop\programming_test_20190625_\m_mock_active_users_20190621.csv")
active_users

      country_code  month  day  relative_active_users
0        country52      1   26               0.128544
1        country67      2   20               0.000012
2        country55      4   21               0.000018
3       country173      2   20               0.000179
4       country192      6    7               0.000002
...            ...    ...  ...                    ...
36801   country200      5   18               0.000004
36802    country13      3   10               0.000012
36803    country21      1    7               0.000004
36804   country146      5    3               0.000041
36805    country60      6    7               0.002127

[36806 rows x 4 columns]

In [9]:
active_users.isnull().sum()

country_code             0
month                    0
day                      0
relative_active_users    0
dtype: int64

In [11]:
# m_vendor_map.csv
# Transaction percentage associated with vendor.
# Smaller vendors currently have 'unknown' fees. Choose how best to deal with this in your analysis.

vendor_map= pd.read_csv(r"c:\Users\dishadaquid.jahan\OneDrive - AVEVA Solutions Limited\Desktop\programming_test_20190625_\m_vendor_map.csv")
vendor_map

   vendor_id  fee_percentage
0    vendor1            10.0
1    vendor2             NaN
2    vendor3             NaN
3    vendor4             NaN
4    vendor5             NaN
5    vendor6             NaN
6    vendor7             NaN
7    vendor8             NaN
8    vendor9             NaN
9   vendor10             NaN
10  vendor11             5.0
11  vendor12             NaN
12  vendor13             NaN
13  vendor14             NaN
14  vendor15             NaN
15  vendor16             NaN
16  vendor17             NaN
17  vendor18             NaN
18  vendor19             NaN
19  vendor20             NaN
20  vendor21             NaN
21  vendor22             NaN
22  vendor23             NaN
23  vendor24             NaN
24  vendor25             NaN
25  vendor26            20.0
26  vendor27             NaN
27  vendor28             NaN
28  vendor29             NaN
29  vendor30             NaN
30  vendor31             NaN
31  vendor32             NaN
32  vendor33            22.0
33  vendor34             NaN
34  vendor35             NaN
35  vendor36            25.0
36  vendor37            30.0
37  vendor38             NaN
38  vendor39             NaN
39  vendor40             NaN
40  vendor41             NaN
41  vendor42            20.0
42  vendor43             NaN
43  vendor44             NaN

In [12]:
vendor_map.isnull().sum()

vendor_id          0
fee_percentage    37
dtype: int64

In [15]:
# As the "fee_percentage" column contains NaN values, converting the column to only contain numerical values
# Converting the column to numeric type
vendor_map['fee_percentage'] = pd.to_numeric(vendor_map['fee_percentage'], errors='coerce')

# Flling NaN values with the mean
mean_fee_percentage = vendor_map['fee_percentage'].mean()
vendor_map['fee_percentage'].fillna(mean_fee_percentage, inplace=True)

In [17]:
# Checking that all the rows are converted to numeric type
vendor_map.isnull().sum()

vendor_id         0
fee_percentage    0
dtype: int64

In [6]:

'''

Problem Summary:
In Warframe, players buy various items (denoted by a sku) with real world money. 
These transactions can be handled by a variety of vendors. These vendors help facilitate transactions and take a cut 
of the revenue. One area of work is in the optimization of these vendors (ie. Which vendors to present to users,
and under what circumstances should these vendors be offered). The key point here being, since different vendors
take different cuts, will removing high fee vendors result in partial or total migration to alternative, lower fee,
vendors. On April 1st one such vendor (vendor37) was temporarily shut down due to external circumstances. 
The transaction data in m_mock_transaction_20190621.csv is a record of all transactions in the 3 months preceding this
shutdown, and the 3 months since. We are now asked by the finance department to determine whether it is beneficial for
us as a company to reopen vendor37 or if it should remain closed. Provided is all the data required to carry out 
analysis behind this question, and to provide an argument for or against reopening vendor37. Below you will find 2 
specific focus areas to loosely structure your analysis on.


Part 1: General Analysis
The main point here is giving us (and the finance department) a general overview of the data. Isolating key metric
and presenting them in a clear way is essential. This is meant to be a basic analysis (ie. modelling is not required).
Below is a list of general metrics we would like to be covered:
â€¢    Before closure â€“ what did revenue look like for vendor37?
'''

'\n\nProblem Summary:\nIn Warframe, players buy various items (denoted by a sku) with real world money. \nThese transactions can be handled by a variety of vendors. These vendors help facilitate transactions and take a cut \nof the revenue. One area of work is in the optimization of these vendors (ie. Which vendors to present to users,\nand under what circumstances should these vendors be offered). The key point here being, since different vendors\ntake different cuts, will removing high fee vendors result in partial or total migration to alternative, lower fee,\nvendors. On April 1st one such vendor (vendor37) was temporarily shut down due to external circumstances. \nThe transaction data in m_mock_transaction_20190621.csv is a record of all transactions in the 3 months preceding this\nshutdown, and the 3 months since. We are now asked by the finance department to determine whether it is beneficial for\nus as a company to reopen vendor37 or if it should remain closed. Provided is all the data required to carry out \nanalysis behind this question, and to provide an argument for or against reopening vendor37. Below you will find 2 \nspecific focus areas to loosely structure your analysis on.\n\n\nPart 1: General Analysis\nThe main point here is giving us (and the finance department) a general overview of the data. Isolating key metric\nand presenting them in a clear way is essential. This is meant to be a basic analysis (ie. modelling is not required).\nBelow is a list of general metrics we would like to be covered:\nâ€¢    Before closure â€“ what did revenue look like for vendor37?\n'

In [18]:
# Exploring the data 
transaction["month"].unique()

array([5, 6, 3, 2, 1, 4], dtype=int64)

In [19]:
# Before closure â€“ what did revenue look like for vendor37?

vendor37_early_revenue = transaction[(transaction["vendor"]=="vendor37") & (transaction['month'] <= 3)]["revenue"].sum()
vendor37_early_revenue

174497.48305354

In [53]:
# Proportion of total revenue 
Total_revenue = transaction['revenue'].sum()
print("Total_revenue",Total_revenue)
Proportion= vendor37_early_revenue /Total_revenue * 100
    
print("Proportion",Proportion)

Total_revenue 40938991.143683374
Proportion 0.4262378680537267

In [55]:
# Filtering transactions within the first three months
filtered_transactions = transaction[transaction['month'] <= 3]

# Calculating the total revenue for the filtered transactions
total_revenue = filtered_transactions['revenue'].sum()
print("Total revenue:", total_revenue)

Proportion = vendor37_early_revenue /total_revenue * 100 
print("Proportion",Proportion)

Total revenue: 23890097.135271635
Proportion 0.7304176373394051

In [21]:
 
# Revenue/transactions per day through vendor37
vendor37_early_revenue/()

array([], dtype=float64)

In [22]:
# vendor37_early_revenue revenue per day 
revenue_per_day =vendor37_early_revenue/(31+31+28)
revenue_per_day

1938.860922817111

In [23]:
# vendor37_early_revenue transaction_per_day
vendor37_transaction=len(transaction[transaction['vendor']=="vendor37"])
print("vendor37_transaction",vendor37_transaction)
V37_transaction_per_day =vendor37_transaction/(31+31+28)
print("V37_transaction_per_day",V37_transaction_per_day)

vendor37_transaction 1879
V37_transaction_per_day 20.877777777777776

In [24]:
'''
â€¢    Regional usage details
â€¢    What is an upper bound for revenue loss following the closure?
â€¢    Number of users expected to be affected by the closure?
â€¢    Is there a measurable revenue change as a result of the closure (on April 1)?'''

'\n\tâ€¢    Regional usage details\nâ€¢    What is an upper bound for revenue loss following the closure?\nâ€¢    Number of users expected to be affected by the closure?\nâ€¢    Is there a measurable revenue change as a result of the closure (on April 1)?'

In [25]:
# Regional usage details
transaction[transaction["vendor"]=="vendor37"].groupby('country_code')['revenue'].sum()

country_code
country11       514.777510
country119       96.858065
country120       25.775117
country124      124.705000
country139      356.637187
country141      124.705000
country144       96.544871
country16     16477.240870
country168      249.409999
country176      124.705000
country18       138.563423
country180       25.775117
country181      249.409999
country182     1223.183866
country185      107.227188
country194     2180.773248
country196       16.941232
country20      1022.203334
country206      650.780274
country207      509.267833
country209      124.705000
country211      492.335331
country214    16390.610409
country217    10587.316353
country228      148.095104
country28        96.544871
country30       221.563065
country32        96.858065
country33        31.336235
country35        96.544871
country45     49904.493375
country51      9763.318842
country52      2510.068124
country57       560.720072
country6         25.775117
country60       310.999247
country61       521.599748
country66     57643.564793
country71       124.705000
country85       406.140300
country9        124.705000
Name: revenue, dtype: float64

In [26]:
# What is an upper bound for revenue loss following the closure?
revenue_per_day*(30+31+30)

176436.3439763571

In [27]:
# Is there a measurable revenue change as a result of the closure (on April 1)?

early_closure_transactions = (transaction[ (transaction['month'] > 4)].revenue.sum())/(31+28+31)
print("early_closure_transactions",early_closure_transactions)
after_closure_transactions = transaction[(transaction['month'] <= 4)].revenue.sum()/(31+28+31)
print("after_closure_transactions",after_closure_transactions)

early_closure_transactions 125596.33697536832
after_closure_transactions 329281.34239889134

In [28]:
mar31_transactions = (transaction[ (transaction['month'] ==3 ) & (transaction['day']==31)].revenue.sum())
mar31_transactions

253994.303802981

In [29]:
april1_transactions =transaction[(transaction['month'] ==4 ) & (transaction['day']==1)].revenue.sum()
april1_transactions

255652.710711907

In [30]:
# 1 April has more transaction 

april1_transactions-mar31_transactions

1658.406908926001

In [31]:
april1_transactions/mar31_transactions

1.006529307484834

In [32]:
# transaction/ day before 1 april
transaction_per_day_B= mar31_transactions/(31+28+31)
transaction_per_day_B

2822.1589311442335

In [33]:
# transaction/ day after 1 april
transaction_per_day_A= april1_transactions/(30+30+31)
transaction_per_day_A

2809.3704473835937

In [34]:
transaction_per_day_B/transaction_per_day_A

1.004552081685258

In [35]:
# How about regionally?
# How does the spending (ARPU) of vendor37 users after closure compare to the spending of the users of other vendors?
# Is there any indication that vendor37 users have migrated to new vendors?

In [36]:
# How does the spending (ARPU) of vendor37 users after closure
# Compare to the spending of the users of other vendors

vendor_37_users = transaction[transaction['vendor'] == "vendor37"]['account']
total_users = transaction['account']

len(vendor_37_users)/len(total_users)

0.0025767964893033462

In [37]:
revenue_data_early = transaction[transaction["month"] < 4]
revenue_data_late = transaction[transaction["month"] >= 4]
revenue_data_early_vendor_37_users = revenue_data_early[revenue_data_early['account'].isin(vendor_37_users)]['revenue'].sum()
revenue_data_early_other_users = revenue_data_early[~revenue_data_early['account'].isin(vendor_37_users)]['revenue'].sum()
revenue_data_late_vendor_37_users = revenue_data_late[revenue_data_late['account'].isin(vendor_37_users)]['revenue'].sum()
revenue_data_late_other_users = revenue_data_late[~revenue_data_late['account'].isin(vendor_37_users)]['revenue'].sum()

In [38]:
print("revenue_data_early_vendor_37_users",revenue_data_early_vendor_37_users)
print("revenue_data_early_other_users",revenue_data_early_other_users)
print("revenue_data_late_vendor_37_users",revenue_data_late_vendor_37_users)
print("revenue_data_late_other_users",revenue_data_late_other_users)

revenue_data_early_vendor_37_users 194205.376660887
revenue_data_early_other_users 23695891.758610744
revenue_data_late_vendor_37_users 13472.825412281
revenue_data_late_other_users 17035421.182999454

In [39]:
#Before April 1st the revenue for vendor 37 users was  194205.37664692578
# Before April 1st the revenue for non vendor 37 users was  23695891.757704634
# On or after April 1st the revenue for vendor 37 users was  13472.825412197373
# On or after April 1st the revenue for non vendor 37 users was  17035421.18248418
# Vendor37 users spent the following proportion of total revenue before closure:  0.00819574036852952
# Vendor37 users spent the following proportion of total revenue after closure:  0.0007908712833029413

# To answer the business question, the spending of vendor 37 users after the closure is smaller than the spending of other users (per user) since 0.0007908712833029413 < 0.0025767964893033462
# The vendor 37 users actually spend more than other users before the closure though.

# â€¢    Is there any indication that vendor37 users have migrated to new vendors?

# Yes, but only a tenth of them since 0.0007908712833029413 is only about a tenth of 0.00819574036852952

In [40]:
pip install scikit-learn

Defaulting to user installation because normal site-packages is not writeable
Collecting scikit-learn
  Downloading scikit_learn-1.3.0-cp311-cp311-win_amd64.whl (9.2 MB)
                                              0.0/9.2 MB ? eta -:--:--
     -                                        0.3/9.2 MB 7.9 MB/s eta 0:00:02
     ----                                     1.1/9.2 MB 14.4 MB/s eta 0:00:01
     --------                                 2.0/9.2 MB 16.1 MB/s eta 0:00:01
     ------------                             2.9/9.2 MB 16.8 MB/s eta 0:00:01
     ----------------                         3.8/9.2 MB 17.2 MB/s eta 0:00:01
     -------------------                      4.5/9.2 MB 16.9 MB/s eta 0:00:01
     -------------------                      4.6/9.2 MB 14.6 MB/s eta 0:00:01
     -------------------                      4.6/9.2 MB 14.6 MB/s eta 0:00:01
     ----------------------                   5.2/9.2 MB 12.7 MB/s eta 0:00:01
     --------------------------------         7.4/9.2 MB 16.3 MB/s eta 0:00:01
     -----------------------------------      8.3/9.2 MB 16.5 MB/s eta 0:00:01
     ---------------------------------------  9.1/9.2 MB 16.6 MB/s eta 0:00:01
     ---------------------------------------  9.2/9.2 MB 16.3 MB/s eta 0:00:01
     ---------------------------------------- 9.2/9.2 MB 15.1 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.17.3 in c:\users\dishadaquid.jahan\appdata\roaming\python\python311\site-packages (from scikit-learn) (1.25.0)
Collecting scipy>=1.5.0 (from scikit-learn)
  Downloading scipy-1.11.2-cp311-cp311-win_amd64.whl (44.0 MB)
                                              0.0/44.0 MB ? eta -:--:--
     -                                        1.3/44.0 MB 40.3 MB/s eta 0:00:02
     -                                        1.9/44.0 MB 23.8 MB/s eta 0:00:02
     --                                       2.8/44.0 MB 22.4 MB/s eta 0:00:02
     ---                                      3.8/44.0 MB 21.8 MB/s eta 0:00:02
     ----                                     4.5/44.0 MB 20.8 MB/s eta 0:00:02
     ----                                     5.2/44.0 MB 19.6 MB/s eta 0:00:02
     -----                                    6.2/44.0 MB 19.8 MB/s eta 0:00:02
     ------                                   7.2/44.0 MB 20.1 MB/s eta 0:00:02
     -------                                  8.2/44.0 MB 19.5 MB/s eta 0:00:02
     --------                                 9.1/44.0 MB 19.4 MB/s eta 0:00:02
     --------                                10.0/44.0 MB 18.8 MB/s eta 0:00:02
     ---------                               11.0/44.0 MB 18.7 MB/s eta 0:00:02
     ----------                              11.8/44.0 MB 18.2 MB/s eta 0:00:02
     -----------                             12.8/44.0 MB 18.2 MB/s eta 0:00:02
     ------------                            13.6/44.0 MB 18.2 MB/s eta 0:00:02
     ------------                            14.5/44.0 MB 18.2 MB/s eta 0:00:02
     -------------                           15.0/44.0 MB 18.2 MB/s eta 0:00:02
     --------------                          16.2/44.0 MB 18.2 MB/s eta 0:00:02
     ---------------                         17.1/44.0 MB 18.2 MB/s eta 0:00:02
     ---------------                         17.9/44.0 MB 18.2 MB/s eta 0:00:02
     ----------------                        18.7/44.0 MB 18.2 MB/s eta 0:00:02
     -----------------                       19.7/44.0 MB 18.7 MB/s eta 0:00:02
     ------------------                      20.7/44.0 MB 18.7 MB/s eta 0:00:02
     -------------------                     21.5/44.0 MB 18.7 MB/s eta 0:00:02
     -------------------                     22.2/44.0 MB 18.7 MB/s eta 0:00:02
     --------------------                    23.1/44.0 MB 18.7 MB/s eta 0:00:02
     ---------------------                   24.1/44.0 MB 18.2 MB/s eta 0:00:02
     ----------------------                  25.1/44.0 MB 18.7 MB/s eta 0:00:02
     ----------------------                  25.9/44.0 MB 18.2 MB/s eta 0:00:01
     -----------------------                 26.9/44.0 MB 18.7 MB/s eta 0:00:01
     ------------------------                27.6/44.0 MB 18.2 MB/s eta 0:00:01
     -------------------------               28.5/44.0 MB 18.2 MB/s eta 0:00:01
     -------------------------               29.3/44.0 MB 18.2 MB/s eta 0:00:01
     --------------------------              30.0/44.0 MB 18.7 MB/s eta 0:00:01
     ---------------------------             31.0/44.0 MB 18.2 MB/s eta 0:00:01
     ----------------------------            31.8/44.0 MB 18.2 MB/s eta 0:00:01
     -----------------------------           32.7/44.0 MB 18.2 MB/s eta 0:00:01
     -----------------------------           33.4/44.0 MB 18.7 MB/s eta 0:00:01
     ------------------------------          34.2/44.0 MB 18.7 MB/s eta 0:00:01
     -------------------------------         35.2/44.0 MB 18.7 MB/s eta 0:00:01
     --------------------------------        36.2/44.0 MB 18.2 MB/s eta 0:00:01
     --------------------------------        37.0/44.0 MB 18.7 MB/s eta 0:00:01
     ---------------------------------       37.8/44.0 MB 18.7 MB/s eta 0:00:01
     ----------------------------------      38.5/44.0 MB 18.2 MB/s eta 0:00:01
     ----------------------------------      39.4/44.0 MB 18.2 MB/s eta 0:00:01
     -----------------------------------     40.1/44.0 MB 18.7 MB/s eta 0:00:01
     ------------------------------------    41.2/44.0 MB 18.7 MB/s eta 0:00:01
     -------------------------------------   42.1/44.0 MB 18.7 MB/s eta 0:00:01
     --------------------------------------  42.9/44.0 MB 18.2 MB/s eta 0:00:01
     --------------------------------------  43.7/44.0 MB 18.7 MB/s eta 0:00:01
     --------------------------------------  44.0/44.0 MB 18.7 MB/s eta 0:00:01
     --------------------------------------  44.0/44.0 MB 18.7 MB/s eta 0:00:01
     --------------------------------------  44.0/44.0 MB 18.7 MB/s eta 0:00:01
     --------------------------------------  44.0/44.0 MB 18.7 MB/s eta 0:00:01
     --------------------------------------  44.0/44.0 MB 18.7 MB/s eta 0:00:01
     --------------------------------------  44.0/44.0 MB 18.7 MB/s eta 0:00:01
     --------------------------------------  44.0/44.0 MB 18.7 MB/s eta 0:00:01
     --------------------------------------  44.0/44.0 MB 18.7 MB/s eta 0:00:01
     --------------------------------------  44.0/44.0 MB 18.7 MB/s eta 0:00:01
     --------------------------------------  44.0/44.0 MB 18.7 MB/s eta 0:00:01
     --------------------------------------  44.0/44.0 MB 18.7 MB/s eta 0:00:01
     --------------------------------------  44.0/44.0 MB 18.7 MB/s eta 0:00:01
     ---------------------------------------- 44.0/44.0 MB 8.0 MB/s eta 0:00:00
Collecting joblib>=1.1.1 (from scikit-learn)
  Downloading joblib-1.3.2-py3-none-any.whl (302 kB)
                                              0.0/302.2 kB ? eta -:--:--
     ---------------------------------------  297.0/302.2 kB ? eta -:--:--
     -------------------------------------- 302.2/302.2 kB 3.1 MB/s eta 0:00:00
Collecting threadpoolctl>=2.0.0 (from scikit-learn)
  Downloading threadpoolctl-3.2.0-py3-none-any.whl (15 kB)
Installing collected packages: threadpoolctl, scipy, joblib, scikit-learn
Successfully installed joblib-1.3.2 scikit-learn-1.3.0 scipy-1.11.2 threadpoolctl-3.2.0
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.1.2 -> 23.2.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [41]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error

In [44]:

# Merge data
merged_data = pd.merge(transaction, active_users, on=["country_code", "month", "day"])
merged_data = pd.merge(merged_data, vendor_map, left_on="vendor",right_on="vendor_id")

In [45]:
# Define features and target
X = merged_data[["relative_active_users", "fee_percentage"]]
y = merged_data["revenue"]

In [46]:
# Split data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [47]:
# Build and train the model
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [48]:
# Split data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)



# Evaluate the model
y_pred = model.predict(X_test)
mae = mean_absolute_error(y_test, y_pred)
print("Mean Absolute Error:", mae)

# Predict revenue without Vendor37 closure
predicted_revenue = model.predict(X)  # Predict for the entire dataset

# Add predicted revenue to the merged data
merged_data["predicted_revenue"] = predicted_revenue

# Calculate revenue difference due to closure
revenue_difference = merged_data[merged_data["vendor_id"] == "vendor37"]["predicted_revenue"].sum()

# Print the impact of Vendor37 closure
print("Estimated Revenue Difference due to Closure:", revenue_difference)

Mean Absolute Error: 32.34286314123108
Estimated Revenue Difference due to Closure: 102471.93246872022